.about-container {
    width: 80vw;
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .about-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    column-gap: 40px;
    margin-bottom: 30px;
  }
  
  .uni {
    color: #e0cf97;
    cursor: pointer;
    font-style: italic;
  }
  #profile2 {
    width: 22vw;
    height: 100%;
    margin-top: 2vw;
    align-self: flex-start;
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
  }
  
  .about-text-content {
    width: 55vw;
    text-align: justify;
    justify-self: center;
    line-height: 1.3em;
  }
  
  .about-btns {
    display: flex;
    gap:15px;
    margin: 10px 0 50px;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
  
    
  }
  
  .about-btn {
    background-color: var(--decoColor);
    color: white;
    margin: 15px 0;
    min-width: 130px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    letter-spacing: 1.5px;
    padding: 4px 12px;
  }
  
  .about-btn:hover {
    background-color: #862f4f;
    
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .about-text > h2 {
    text-align: left;
    font-size: 1.6em;
    margin-bottom: 0;
    color: #e0cf97;
  }


/*skillset div*/

.skillset-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.skillset-container > h2 {
 color: #e0cf97;
 align-self: flex-start;
 font-size: 1.6em;
 
}

.tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  margin: auto;
  padding: 7px 0;
}

.tag-span {
  padding:7px; 
  height: 30px;
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 50%;
  font-size: .8em;
  
}


  
  @media (max-width: 800px) {
    .about-container {
      
      margin: 60px auto 0;
    }
    .about-main {
      flex-direction: column;
      gap:30px
    }
  
    #profile2 {
      width: 250px;
      align-self: end;
    }
    .about-text > h1 {
      padding-top: 10px;
      align-self: center;
    }
  
    .about-text-content {
      width: 77vw;
      align-self: center;
      line-height: 1.5em;
    }
  }
  