footer {	
	left: 0;
	bottom: 25px;
	height: 30px;
	width: 100%;
	text-align: center;
	font-size: .9em;
	color:lightgray;
	position: absolute;	
}

.go-top {
	z-index: 1000;
	width: 25px;
	position: fixed;
	right: 7%;
	bottom: 30px;
	cursor: pointer;
	opacity: .7;
	filter: drop-shadow(2px 2px 3px #222);
	-webkit-filter: drop-shadow(2px 2px 3px #222);
	-ms-filter: drop-shadow(2px 2px 3px #222);
	-moz-filter: drop-shadow(2px 2px 3px #222);
	-o-filter: drop-shadow(2px 2px 3px #222);
  }
  
  .go-top:hover {
	transform: translateY(-3px);
  }
  
 