header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  font-size: 15px;
  margin: 0 3vw 30px;
}

.site-logo > a:hover {
  color: var(--decoColor);
}

.site-logo {
  font-family:  "Splash", cursive;
  margin-right: auto;
  font-size: 2.5em;
  animation: fade-in-first 2s ease-in-out;
  animation-fill-mode: both;
  text-shadow: 1px 1px 5px black;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
}

.site-logo:hover {
  transform: translateY(1.3px);
}

.qin {
  font-size: 0.4em;
  font-weight: 400;
  color: rgba(163, 163, 162, 0.793);
  font-family: var(--mainFont);
  text-shadow: none;
}
header a {
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  font-weight: 600;
}

.lang {
  background-color: rgba(248, 248, 244, 0.918);
  cursor: pointer;
  color: var(--decoColor);
  margin-right: 20px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  padding: 0;
  border: 1px 1px inset black;
  font-weight: 600;
  
}

.lang:hover {
  background-color: var(--textColor);
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav > a:hover {
  transform: translateY(1px);
}
.menu {
  width: 30px;
  display: none;
}

.back {
  width: 30px;
  display: none;
}
.menu:hover {
  cursor: pointer;
}

.menuNav {
  display: none;
}

@keyframes fade-in-first {
  from {
    opacity: 0%;
    margin-left: 0;
  }
  to {
    opacity: 100%;
    margin-left: 28px;
  }
}

@media (max-width: 1024px) {
  nav {
    display: none;
  }
  header .site-logo {
    
    
    padding-left: 0;
    padding-top: 70px;
    margin-right: 0;
  }

  header .site-logo > span {
    padding: 0;
  }
  .menu {
    position: absolute;
    width: 30px;
    display: inline;
    top: 22px;
    right: 25px;
    padding-bottom: 100px;
  }

  .back {
    position: absolute;
    width: 30px;
    display: inline;
    top: 347px;
    right: 15px;
  }
  .menu:hover {
    filter: brightness(110%);
  }
  .back:hover {
    filter: brightness(90%);
    cursor: pointer;
  }

  .lang {
    position: absolute;
    top: 21px;
    right: 45px;
  }
  .menuNav {
    
    padding: 10px 0;
    background: rgba(245, 222, 179, 0.973);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 25px;
    position: absolute;
    top: 9vh;
    right: 0;
    height: 400px;
    width: 170px;
    z-index: 3;
    border: none;
    margin-right: 50px;
    box-shadow: 1px 1px 5px black;
    align-items: flex-end;
    font-size: 1em;
    animation: expand-fade-in 0.5s ease-in;
  
  }
  .menuNav > a {
    color: rgba(0, 0, 0, 0.524);
    padding: 10px;
  }

  @keyframes expand-fade-in {
    from {
      clip-path: circle(0% at 100% 0%);
      opacity: 0%;
    }
    to {
      clip-path: circle(100% at 50% 50%);
      opacity: 100%;
    }
  }
}

@media (max-width: 500px) {

  header .site-logo {  
    font-size: 2em;
  
  }}

  @media (max-width: 300px) {

    header .site-logo {  
      font-size: 1.7em;
    
    }}
