.home-container {
  background: url("../assets/light.png") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 50vh;
  width: 100%;
  position: relative;
  margin: 12vh 0;
}

.home-container img {
  border-radius: 2px;
  box-shadow: 5px 5px 10px rgb(39, 39, 39);
}

#profile {
  max-width: 19.5%;
  position: absolute;
  z-index: 1;
  top: 9vh;
  left: 7vw;
}

.home--text {
  background: #c94b4b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4b134f,
    #c94b4b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4b134f,
    #c94b4b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: left;
  position: absolute;
  z-index: 0;
  top: -30px;
  left: 23vw;
  width: 77%;
  height: 350px;
  padding: 5px 7vw;
  

}

.home--text h1 {
  font-family: "Expletus Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.home--text h1:nth-child(1) { 
  animation: fade-in 2s ease-in-out 0.7s;
  animation-fill-mode: both;
}

.home--text h1:nth-child(2) {

  animation: fade-in 2s ease-in-out 1.7s;
  animation-fill-mode: both;
}

.home--text h1:nth-child(3) {

  animation: fade-in 2s ease-in-out 2.7s;
  animation-fill-mode: both;
}

.home--text h1:nth-child(3) > span {
  font-size: 0.5em;
  font-weight: 400;
  color: gray;
}

.home--text > button {
  background-color: transparent;
  border: .5px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  animation: fade-in 2s ease-in-out 3.7s;
  animation-fill-mode: both;
  margin-top: 5px;


}
.home--text > button:hover {
 box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.541);
 transition: ease-in-out .5s;
}

#home-img1 {
  max-width: 18vw;
  position: absolute;
  right: 27vw;
  top: 1vh;
}

#home-img2 {
  max-width: 25vw;
  position: absolute;
  right: 5vw;
  top: 20vh;
  z-index: 1;
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 1280px) {
  #profile {
    max-width: 21%;
    top: 14vh;
   }
   .home--text {
    font-size: 1.2em;
    left: 24vw;
   }
   #home-img1 { 
    right: 28vw;
  
  }
  
  #home-img2 {
    right: 6vw;
 
  }
}


@media (max-width: 1024px) {
 

  #profile {
    max-width: 22%;

   }
   .home--text {
    font-size: 1em;
    left: 24vw;
   }
   #home-img1 { 
    right: 25vw;
    top: 5vh;
  }  
  #home-img2 {
    right: 5vw;
    top: 15vh;
  }
}
  


@media (max-width: 820px) {
  .home-container {

    margin-bottom: 70px;
  }
  #profile {
    max-width: 280px;
    top: 8vh;
  }

  #home-img1 {
    display: none;
  }

  #home-img2 {
    display: none;
  }

  .home--text {  
    padding-left: 28vw;
    padding-top: 7px;
    font-size: 1.4rem;
  }

 
}

@media (max-width: 600px) {
  .home--text {
    padding-left: 20%;
    padding-top: 0;
  }

  .home--text h1 {
    font-size: 1.5rem;
    bottom: 20vh;
    line-height: 1.5em;
    padding-left: 22vw;
    padding-right: 1.2vw;
  }

  #profile {
    max-width: 230px;
    top: 24vh;
  }

  .home--text > button {
    margin-left: 22vw;
  }

}

@media (max-width: 400px) {
  .home--text {
    padding-left: 25%;
    padding-top: 5px;

   
  }

  .home--text h1 {
    padding-left: 14vw;
    font-size: 1.4rem;

  }

  .home--text > button {
    margin-left: 53px;
  }
  #profile {
    max-width: 180px;
    top: 24vh;
  }

 
}

@media (max-width: 300px) {
  .home--text {
    padding-left: 23%;
    padding-top: 25px;
  
  }

  .home--text h1 {
    font-size: 1.2rem;
  }

  .home--text > button {
    padding: 4px;
    margin-left: 37px;
  }

  #profile {
    max-width: 120px;
    top: 20vh;
  }

 
}
