*,
*:before,
*:after {
  box-sizing: border-box;
  --decoColor: #922d52;
  --decorColor2: #ffefba;
  --textColor: #504c4a;
  --mainFont: "Poppins", sans-serif;
}

#root {
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

html {
  font-family: var(--mainFont);
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #59595a,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #59595a,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 0 80px;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 100vh;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: unset;
  color: unset;
}
